{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-lg-offset-2">
                    <div class="card">
                        <div class="header">
                            <h4 class="title text-center">Editar Cliente</h4>
                            {% for flash_message in app.session.flashbag.get('notice') %}
                                <div class="flash-notice text-danger text-center ">
                                    <h4>{{ flash_message }}</h4>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="content">
                            {{ form_start(edit_form) }}
                            <div class="row">
                                <div class="col-md-6" >
                                    <div class="form-group" >
                                        <label>Nombre</label>
                                        {{ form_widget(edit_form.nombre, { 'attr': {'class':'form-control border-input'}})}}
                                    </div>
                                </div>

                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="text-center">Telefono</label>
                                        {{ form_widget(edit_form.telefono, { 'attr': {'class':'form-control border-input'}})}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label class="text-center">Email</label>
                                        {{ form_widget( edit_form.email , { 'attr': {'class':'form-control border-input'}})}}
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group ">
                                        <label class="text-center">Direccion</label>
                                        {{ form_widget(edit_form.direccion, { 'attr': {'class':'form-control border-input'}})}}
                                    </div>

                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6 ">
                                    <div class="form-group ">
                                        <label class="text-center">CUIT</label>
                                        {{ form_widget(edit_form.cuit, { 'attr': {'class':'form-control border-input'}})}}
                                    </div>

                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group ">
                                        <label class="text-center">Ciudad</label>
                                        {{ form_widget(edit_form.ciudad, { 'attr': {'class':'form-control border-input'}})}}
                                    </div>

                                </div>
                            </div>
                            <div class="row hide">
                                <div class="col-md-6 ">
                                    <div class="form-group ">
                                        <label class="text-center">Ciudad</label>
                                        {{ form_widget(edit_form.fechaRegistro, { 'attr': {'class':'form-control border-input'}})}}
                                    </div>

                                </div>
                            </div>


                            <div class="text-center">

                                <a  class="btn btn-info btn-fill btn-wd"  href="{{ path('admin_cliente_index') }}">Volver a la lista</a>


                                <input class="btn btn-success btn-fill btn-wd" type="submit" value="Editar" />

                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            {{ form_end(edit_form) }}
                            <br>
                            <div class="text-center">
                                {{ form_start(delete_form) }}
                                <input class="btn btn-danger btn-fill btn-wd"  type="submit" value="Eliminar">
                                {{ form_end(delete_form) }}
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
