{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Lista de Clientes</h4>

                            <br>
                            {#<p class="category">Here is a subtitle for this table</p>#}
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table id="cliente" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Telefono</th>
                                    <th>Direccion</th>
                                    <th>CUIT</th>

                                    <th>Ciudad</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cliente in clientes %}
                                    <tr>
                                        <td>{{ cliente.nombre }}</td>
                                        <td>{{ cliente.email }}</td>
                                        <td>{{ cliente.telefono }}</td>
                                        <td>{{ cliente.direccion }}</td>
                                        <td>{{ cliente.cuit }}</td>
                                        <td>{{ cliente.ciudad }}</td>

                                        <td>

                                                    <a href="{{ path('admin_cliente_show', { 'id': cliente.id }) }}">Detalle</a>
                                            <br>
                                                    <a href="{{ path('admin_cliente_edit', { 'id': cliente.id }) }}">Editar</a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-5">
                                    <a class="btn btn-info btn-fill btn-wd" href="{{ path('admin_cliente_new') }}">Crear nuevo cliente</a>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var table = $('#cliente').DataTable({
            "lengthMenu": [ [20, 50,100, -1], [ 20, 50,100, "Todos"] ],

            "language": {
                "sProcessing":    "Procesando...",
                "sLengthMenu":    "Mostrar _MENU_ registros",
                "sZeroRecords":   "No se encontraron resultados",
                "sEmptyTable":    "Ningún dato disponible en esta tabla",
                "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":   "",
                "sSearch":        "Buscar:",
                "sUrl":           "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":    "Último",
                    "sNext":    "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            },
            dom: 'B <"clear"> lfrtip',
            order: [[ 1, "desc" ]],

            buttons: [
                {
                    extend: 'csvHtml5',
                    exportOptions: {
                        columns: [   0,1,2,3,4,5]
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [   0,1,2,3,4,5]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [   0,1,2,3,4,5]

                    },
                    pageSize: 'LEGAL'

                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [   0,1,2,3,4,5]
                    }
                }

            ]

        });


    </script>
{% endblock %}