{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Lista de stock</h4>

                            <br>
                            {#<p class="category">Here is a subtitle for this table</p>#}
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table id="stock" class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center">Producto</th>
                                    <th class="text-center">Cantidad</th>
                                    {#<th class="text-center">Precio Venta</th>#}
                                    {#<th class="text-center">Precioventadescuento</th>#}
                                    {#<th class="text-center">Codigo</th>#}

                                    <th class="text-center">Fecha Actulizacion</th>

                                    <th class="text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for stock in stocks %}
                                    <tr class="text-center">
                                        <td>{{ stock.producto }}</td>
                                        <td>{{ stock.cantidad }}</td>
                                        {#<td>${{ stock.precioVenta }}</td>#}

                                        {#<td>{% if stock.fecha %}{{ stock.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                                        {#<td>${{ stock.precioVentaDescuento }}</td>#}
                                        {#<td>{{ stock.codigo}}</td>#}

                                        <td>{% if stock.fechaActulizacion %}{{ stock.fechaActulizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>

                                                    <a href="{{ path('admin_stock_show', { 'id': stock.id }) }}">Detalle</a>
                                            <br>
                                                    <a href="{{ path('admin_stock_edit', { 'id': stock.id }) }}">Editar</a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var table = $('#stock').DataTable({
            "lengthMenu": [ [20, 50,100, -1], [ 20, 50,100, "Todos"] ],

            "language": {
                "sProcessing":    "Procesando...",
                "sLengthMenu":    "Mostrar _MENU_ registros",
                "sZeroRecords":   "No se encontraron resultados",
                "sEmptyTable":    "Ningún dato disponible en esta tabla",
                "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":   "",
                "sSearch":        "Buscar:",
                "sUrl":           "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":    "Último",
                    "sNext":    "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }

            },
            dom: 'B <"clear"> lfrtip',
            order: [[ 1, "desc" ]],

            buttons: [
                {
                    extend: 'csvHtml5',
                    exportOptions: {
                        columns: [   0,1,2,3]
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [   0,1,2,3]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [   0,1,2,3]

                    },
                    pageSize: 'LEGAL'

                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [   0,1,2,3]
                    }
                }

            ]

        });


    </script>
{% endblock %}