{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipounidads list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoUnidad in tipoUnidads %}
            <tr>
                <td><a href="{{ path('admin_tipounidad_show', { 'id': tipoUnidad.id }) }}">{{ tipoUnidad.id }}</a></td>
                <td>{{ tipoUnidad.tipo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_tipounidad_show', { 'id': tipoUnidad.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_tipounidad_edit', { 'id': tipoUnidad.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_tipounidad_new') }}">Create a new tipoUnidad</a>
        </li>
    </ul>
{% endblock %}
