{% extends 'base.html.twig' %}

{% block body %}


    <div class="content">
        <div class="container-fluid">
            <div class="row">


                <div class="col-lg-8 col-md-7 col-lg-offset-2">
                    <div class="card">
                        <div class="header">
                            <h4 class="title ">Detalle</h4>
                            <hr>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-2">
                                    <div class="form-group">
                                        <label>Codigo Proveedor:</label>
                                        {{  compra.proveedor }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Producto -Unidad:</label>
                                        {{  compra.producto}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-md-offset-2">
                                    <div class="form-group">
                                        <label>Cantidad:</label>
                                        {{ compra.cantidad }}

                                    </div>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label >Precio Compra:</label>
                                        {{ compra.precioCompra }}
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4 col-md-offset-2">
                                    <div class="form-group">
                                        <label>Fecha Registroa:</label>
                                        {% if compra.fechaRegistro %}{{ compra.fechaRegistro|date('Y-m-d ') }}{% endif %}

                                    </div>
                                </div>

                            </div>

                            <hr>
                            <div class="text-center">
                                {{ form_start(delete_form) }}
                                <input   class=" btn btn-danger btn-fill btn-wd" type="submit" value="Eliminar">
                                {{ form_end(delete_form) }}
                                <br>
                                {#<a  class=" btn btn-info btn-fill btn-wd"  href="{{ path('admin_pedido_edit', { 'id': pedido.id }) }}">Editar</a>#}

                                <a  class=" btn btn-info btn-fill btn-wd" href="{{ path('admin_compra_index') }}">Volver al menu</a>
                            </div>
                            <div class="clearfix"></div>

                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
{% endblock %}
